//cfp-sub-information <subInformation>  variables and mixins
@import "./cfp-sub-information/variable";
@import "./cfp-sub-information/mixins";

//cfp-sub-information <subInformation>
.info {
  width: 100%;
  font-family: $fontFamily-NotoSansTC;
  &-container {
    @include infoContainer();
    margin: 0 auto;
  }

  &-section {
    float: left;
    clear: both;
    width: 100%;

    h1 {
      @include sectionH1Fontsize();
      height: 70px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.9;
      letter-spacing: normal;
      text-align: left;
      color: $color-mid-blue;
    }
    &__content {
      width: 100%;

      p {
        @include sectionContentParagraphWidth();
        @include sectionContentParagraphFontsize();

        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
        letter-spacing: 0.2px;
        text-align: left;
        color: $color-mid-blue;
      }

      strong {
        font-weight: 900;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          @include ulPadding();
          margin: 0;
          span {
            display: inline-block;
            height: 4px;
            width: 4px;
            transform: translate(-200%, -150%);
            background-color: $color-mid-blue;
            border-radius: 50%;
          }
        }
      }

      &--sub {
        h2 {
          @include sectionH2Fontsize();
          height: 60px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.2;
          letter-spacing: normal;
          text-align: left;
          color: $color-mid-blue;
        }
      }
    }
  }

  //cfp-sub-information <subInformation> components (info-kind , info-qa)
  &-kind {
    width: 100%;
    margin-top: 45px;
    padding-bottom: 300px;
    &__itemBox {
      float: left;
      padding: 25px 1.5% 35px 1.5%;
      border-radius: 13px;
      background-color: $color-mid-blue;
      width: 24%;
      &:not(:last-child) {
        margin-right: 5%;
      }

      &-title {
        @include kindTitleFontsize();
        width: 100%;
        color: $color-white;
        display: inline-block;
        text-align: center;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 10px;
      }
      &-text {
        width: 100%;
        height: 172px;
        margin: 0 auto;
        text-align: left;

        p {
          @include kindTextFontsize();
          margin: 10px auto;
          color: $color-white;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.1;
          letter-spacing: 0.2px;
        }

        strong {
          font-weight: 900;
        }
      }
    }
    //RWD for kind
    @include kind();
  }

  &-qa {
    @include qaWeight();
    margin-bottom: 120px;
    &__itemBox {
      border-radius: 29px;
      box-shadow: 0 3px 12px 0 rgba(89, 120, 206, 0.56);
      background-color: $color-white;
      margin: 0 0 30px 0;
      &-title {
        @include qaTitleHeight();
        display: block;
        width: 100%;

        p {
          @include qaTitleFontsize();
          @include qaTitleMarginTop();

          @include qaQdisplay();
          display: inline-block;
          margin-left: 20px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: left;
          color: $color-mid-blue;
        }
      }

      &-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      &-input:checked ~ &-text {
        display: block;
        width: 94%;
        margin: 0 auto;
        padding-bottom: 20px;

        p {
          @include qaTextFontsize();
        }
      }

      &-input:checked ~ &-title {
        p {
          @include qaTextMarginTop();
        }
      }

      &-text {
        display: none;
      }

      &-checkmark {
      }
    }
  }
}
