// .info-container
@mixin infoContainer() {
  width: 80%;
  padding-left: 7%;
  @media only screen and (max-width: $max-width-small-0) {
    width: 89%;
    padding-left: 0;
  }
  @media only screen and (max-width: $max-width-small-1) {
    width: 89%;
    padding-left: 0;
  }
}

// .info-section
@mixin sectionH1Fontsize() {
  font-size: 44px;
  @media only screen and (min-width: $max-width-big-0) {
    font-size: 48px;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 38px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 32px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 28px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 26px;
  }
}

@mixin sectionH2Fontsize() {
  font-size: 32px;
  @media only screen and (min-width: $max-width-big-0) {
    font-size: 36px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 30px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 26px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 24px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 24px;
  }
}

//.info-section__content
@mixin sectionContentParagraphWidth() {
  width: 92%;
  @media only screen and (max-width: $max-width-small-0) {
    width: 100%;
    margin-left: 0;
  }
  @media only screen and (max-width: $max-width-small-1) {
    width: 100%;
    margin-left: 0;
  }
}

@mixin sectionContentParagraphFontsize() {
  font-size: 20px;
  @media only screen and (max-width: $max-width-big-0) {
    font-size: 18.5px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 17px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 16px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 15px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 14px;
  }
}

@mixin ulPadding {
  padding: 0 0 0 20px;
  @media only screen and (max-width: $max-width-big) {
    padding: 0 0 0 5px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    padding: 0;
  }
}

// .info-kind
@mixin kind() {
  @media only screen and (min-width: $max-width-big-0) {
    padding-bottom: 330px;
    &__itemBox {
      height: 305px;
      padding-top: 0;
      padding-bottom: 0;
      &-title {
        margin-top: 30px;
      }
      &-text {
        padding-top: 8px;
      }
    }
  }

  @media only screen and (max-width: $max-width-small-0) {
    width: 100%;
    &__itemBox {
      width: 100%;
      height: 201px;
      margin-bottom: 20px;
      margin-right: 0;
      padding: 0;
      &-title {
        margin-top: 20px;
      }
      &-text {
        width: 86%;
      }
    }
  }
}

@mixin kindTitleFontsize() {
  font-size: 36px;
  @media only screen and (max-width: $max-width-big-0) {
    font-size: 28px;
  }
  @media only screen and (max-width: $max-width-big) {
    font-size: 25px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 20px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 16px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 28px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 20px;
  }
}

@mixin kindTextFontsize() {
  font-size: 20px;
  @media only screen and (max-width: $max-width-big-0) {
    font-size: 17px;
  }
  @media only screen and (max-width: $max-width-big) {
    font-size: 16px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 14px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 12px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 17px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 14px;
  }
}

// .info-qa
@mixin qaWeight {
  width: 93%;
  @media only screen and (max-width: $max-width-small-0) {
    width: 100%;
  }
}

@mixin qaTitleFontsize() {
  font-size: 24px;
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 22px;
  }
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 20px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 15px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 12px;
  }
  @media only screen and (max-width: $max-width-small-2) {
    font-size: 11px;
  }
  @media only screen and (max-width: $max-width-small-3) {
    font-size: 9.3px;
  }
}

@mixin qaTextFontsize() {
  font-size: 20px;
  @media only screen and (max-width: $max-width-medium-1) {
    font-size: 18px;
  }
  @media only screen and (max-width: $max-width-medium-0) {
    font-size: 16px;
  }
  @media only screen and (max-width: $max-width-small-0) {
    font-size: 14px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    font-size: 12px;
  }
  @media only screen and (max-width: $max-width-small-2) {
    font-size: 10px;
  }
  @media only screen and (max-width: $max-width-small-3) {
    font-size: 8.5px;
  }
}

@mixin qaTitleHeight {
  height: 57px;
  @media only screen and (max-width: $max-width-small-0) {
    height: 45px;
  }
  @media only screen and (max-width: $max-width-small-1) {
    height: 36px;
  }
  @media only screen and (max-width: $max-width-small-2) {
    height: 32px;
  }
  @media only screen and (max-width: $max-width-small-3) {
    height: 28px;
  }
}

@mixin qaTitleMarginTop {
  margin-top: 15px;
  @media only screen and (max-width: $max-width-small-1) {
    margin-top: 10px;
  }
  @media only screen and (max-width: $max-width-small-2) {
    margin-top: 9px;
  }
}
@mixin qaTextMarginTop {
  margin-top: 25px;
  @media only screen and (max-width: $max-width-small-1) {
    margin-top: 15px;
  }
}

@mixin qaQdisplay {
  margin-left: 25px;

  &::before {
    content: "Q：";
  }
  @media only screen and (max-width: $max-width-medium-1) {
    margin-left: 18px;
    &::before {
      content: "";
    }
  }
}

@mixin qaIconSize {
  height: 25px;
  width: 30px;
  @media only screen and (max-width: $max-width-medium-1) {
    height: 16px;
    width: 19px;
  }
}

@mixin qaIcon {
  background-image: url("./assets/images/cfp/Polygon-big.svg");

  @media only screen and (max-width: $max-width-medium-1) {
    background-image: url("./assets/images/cfp/Polygon-small.svg");
  }
}
